//! **************************************************************************
// Written by: Map P.20131013 on Sat Sep 29 09:44:17 2018
//! **************************************************************************

SCHEMATIC START;
COMP "RX1" LOCATE = SITE "H7" LEVEL 1;
COMP "TX1" LOCATE = SITE "H6" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "M21" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "N23" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "N22" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "N21" LEVEL 1;
COMP "CLKOUT_U10_n" LOCATE = SITE "A5" LEVEL 1;
PIN CLKOUT_U10_n_pin<0> = BEL "CLKOUT_U10_n" PINNAME PAD;
PIN "CLKOUT_U10_n_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U10_p" LOCATE = SITE "B6" LEVEL 1;
PIN CLKOUT_U10_p_pin<0> = BEL "CLKOUT_U10_p" PINNAME PAD;
PIN "CLKOUT_U10_p_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U11_n" LOCATE = SITE "A9" LEVEL 1;
PIN CLKOUT_U11_n_pin<0> = BEL "CLKOUT_U11_n" PINNAME PAD;
PIN "CLKOUT_U11_n_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U11_p" LOCATE = SITE "B10" LEVEL 1;
PIN CLKOUT_U11_p_pin<0> = BEL "CLKOUT_U11_p" PINNAME PAD;
PIN "CLKOUT_U11_p_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U20_n" LOCATE = SITE "AC25" LEVEL 1;
PIN CLKOUT_U20_n_pin<0> = BEL "CLKOUT_U20_n" PINNAME PAD;
PIN "CLKOUT_U20_n_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U12_n" LOCATE = SITE "A13" LEVEL 1;
PIN CLKOUT_U12_n_pin<0> = BEL "CLKOUT_U12_n" PINNAME PAD;
PIN "CLKOUT_U12_n_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U20_p" LOCATE = SITE "AD26" LEVEL 1;
PIN CLKOUT_U20_p_pin<0> = BEL "CLKOUT_U20_p" PINNAME PAD;
PIN "CLKOUT_U20_p_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U12_p" LOCATE = SITE "A14" LEVEL 1;
PIN CLKOUT_U12_p_pin<0> = BEL "CLKOUT_U12_p" PINNAME PAD;
PIN "CLKOUT_U12_p_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U21_n" LOCATE = SITE "AF20" LEVEL 1;
PIN CLKOUT_U21_n_pin<0> = BEL "CLKOUT_U21_n" PINNAME PAD;
PIN "CLKOUT_U21_n_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U13_n" LOCATE = SITE "B16" LEVEL 1;
PIN CLKOUT_U13_n_pin<0> = BEL "CLKOUT_U13_n" PINNAME PAD;
PIN "CLKOUT_U13_n_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U21_p" LOCATE = SITE "AE19" LEVEL 1;
PIN CLKOUT_U21_p_pin<0> = BEL "CLKOUT_U21_p" PINNAME PAD;
PIN "CLKOUT_U21_p_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U13_p" LOCATE = SITE "A17" LEVEL 1;
PIN CLKOUT_U13_p_pin<0> = BEL "CLKOUT_U13_p" PINNAME PAD;
PIN "CLKOUT_U13_p_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U14_n" LOCATE = SITE "A19" LEVEL 1;
PIN CLKOUT_U14_n_pin<0> = BEL "CLKOUT_U14_n" PINNAME PAD;
PIN "CLKOUT_U14_n_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U22_n" LOCATE = SITE "AF16" LEVEL 1;
PIN CLKOUT_U22_n_pin<0> = BEL "CLKOUT_U22_n" PINNAME PAD;
PIN "CLKOUT_U22_n_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U22_p" LOCATE = SITE "AE15" LEVEL 1;
PIN CLKOUT_U22_p_pin<0> = BEL "CLKOUT_U22_p" PINNAME PAD;
PIN "CLKOUT_U22_p_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U14_p" LOCATE = SITE "A20" LEVEL 1;
PIN CLKOUT_U14_p_pin<0> = BEL "CLKOUT_U14_p" PINNAME PAD;
PIN "CLKOUT_U14_p_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U15_n" LOCATE = SITE "A25" LEVEL 1;
PIN CLKOUT_U15_n_pin<0> = BEL "CLKOUT_U15_n" PINNAME PAD;
PIN "CLKOUT_U15_n_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U23_n" LOCATE = SITE "AE13" LEVEL 1;
PIN CLKOUT_U23_n_pin<0> = BEL "CLKOUT_U23_n" PINNAME PAD;
PIN "CLKOUT_U23_n_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U23_p" LOCATE = SITE "AF12" LEVEL 1;
PIN CLKOUT_U23_p_pin<0> = BEL "CLKOUT_U23_p" PINNAME PAD;
PIN "CLKOUT_U23_p_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U15_p" LOCATE = SITE "B25" LEVEL 1;
PIN CLKOUT_U15_p_pin<0> = BEL "CLKOUT_U15_p" PINNAME PAD;
PIN "CLKOUT_U15_p_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U16_n" LOCATE = SITE "E26" LEVEL 1;
PIN CLKOUT_U16_n_pin<0> = BEL "CLKOUT_U16_n" PINNAME PAD;
PIN "CLKOUT_U16_n_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U24_n" LOCATE = SITE "AF10" LEVEL 1;
PIN CLKOUT_U24_n_pin<0> = BEL "CLKOUT_U24_n" PINNAME PAD;
PIN "CLKOUT_U24_n_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U24_p" LOCATE = SITE "AF9" LEVEL 1;
PIN CLKOUT_U24_p_pin<0> = BEL "CLKOUT_U24_p" PINNAME PAD;
PIN "CLKOUT_U24_p_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U16_p" LOCATE = SITE "F26" LEVEL 1;
PIN CLKOUT_U16_p_pin<0> = BEL "CLKOUT_U16_p" PINNAME PAD;
PIN "CLKOUT_U16_p_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U17_n" LOCATE = SITE "L25" LEVEL 1;
PIN CLKOUT_U17_n_pin<0> = BEL "CLKOUT_U17_n" PINNAME PAD;
PIN "CLKOUT_U17_n_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U25_n" LOCATE = SITE "AD1" LEVEL 1;
PIN CLKOUT_U25_n_pin<0> = BEL "CLKOUT_U25_n" PINNAME PAD;
PIN "CLKOUT_U25_n_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U25_p" LOCATE = SITE "AC2" LEVEL 1;
PIN CLKOUT_U25_p_pin<0> = BEL "CLKOUT_U25_p" PINNAME PAD;
PIN "CLKOUT_U25_p_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U17_p" LOCATE = SITE "L26" LEVEL 1;
PIN CLKOUT_U17_p_pin<0> = BEL "CLKOUT_U17_p" PINNAME PAD;
PIN "CLKOUT_U17_p_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U18_n" LOCATE = SITE "R25" LEVEL 1;
PIN CLKOUT_U18_n_pin<0> = BEL "CLKOUT_U18_n" PINNAME PAD;
PIN "CLKOUT_U18_n_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U18_p" LOCATE = SITE "T26" LEVEL 1;
PIN CLKOUT_U18_p_pin<0> = BEL "CLKOUT_U18_p" PINNAME PAD;
PIN "CLKOUT_U18_p_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U19_n" LOCATE = SITE "W25" LEVEL 1;
PIN CLKOUT_U19_n_pin<0> = BEL "CLKOUT_U19_n" PINNAME PAD;
PIN "CLKOUT_U19_n_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLKOUT_U19_p" LOCATE = SITE "Y26" LEVEL 1;
PIN CLKOUT_U19_p_pin<0> = BEL "CLKOUT_U19_p" PINNAME PAD;
PIN "CLKOUT_U19_p_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "CLK" LOCATE = SITE "T1" LEVEL 1;
COMP "DATA_IN_U10<10>" LOCATE = SITE "B8" LEVEL 1;
COMP "DATA_IN_U10<11>" LOCATE = SITE "A8" LEVEL 1;
COMP "DATA_IN_U10<12>" LOCATE = SITE "F7" LEVEL 1;
COMP "DATA_IN_U10<13>" LOCATE = SITE "E8" LEVEL 1;
COMP "DATA_IN_U10<14>" LOCATE = SITE "D7" LEVEL 1;
COMP "DATA_IN_U10<15>" LOCATE = SITE "C7" LEVEL 1;
COMP "DATA_IN_U11<10>" LOCATE = SITE "A11" LEVEL 1;
COMP "DATA_IN_U11<11>" LOCATE = SITE "D11" LEVEL 1;
COMP "DATA_IN_U11<12>" LOCATE = SITE "E10" LEVEL 1;
COMP "DATA_IN_U11<13>" LOCATE = SITE "C11" LEVEL 1;
COMP "DATA_IN_U11<14>" LOCATE = SITE "F11" LEVEL 1;
COMP "DATA_IN_U11<15>" LOCATE = SITE "D12" LEVEL 1;
COMP "DATA_IN_U20<10>" LOCATE = SITE "AE25" LEVEL 1;
COMP "DATA_IN_U12<10>" LOCATE = SITE "A15" LEVEL 1;
COMP "DATA_IN_U20<11>" LOCATE = SITE "AF25" LEVEL 1;
COMP "DATA_IN_U12<11>" LOCATE = SITE "D14" LEVEL 1;
COMP "DATA_IN_U20<12>" LOCATE = SITE "AC23" LEVEL 1;
COMP "DATA_IN_U12<12>" LOCATE = SITE "E14" LEVEL 1;
COMP "DATA_IN_U20<13>" LOCATE = SITE "AE24" LEVEL 1;
COMP "DATA_IN_U12<13>" LOCATE = SITE "F15" LEVEL 1;
COMP "DATA_IN_U20<14>" LOCATE = SITE "AF24" LEVEL 1;
COMP "DATA_IN_U12<14>" LOCATE = SITE "C15" LEVEL 1;
COMP "DATA_IN_U20<15>" LOCATE = SITE "AE23" LEVEL 1;
COMP "DATA_IN_U12<15>" LOCATE = SITE "D15" LEVEL 1;
COMP "DATA_IN_U21<10>" LOCATE = SITE "AF18" LEVEL 1;
COMP "DATA_IN_U13<10>" LOCATE = SITE "F17" LEVEL 1;
COMP "DATA_IN_U21<11>" LOCATE = SITE "AB18" LEVEL 1;
COMP "DATA_IN_U13<11>" LOCATE = SITE "G17" LEVEL 1;
COMP "DATA_IN_U21<12>" LOCATE = SITE "AA18" LEVEL 1;
COMP "DATA_IN_U13<12>" LOCATE = SITE "J17" LEVEL 1;
COMP "DATA_IN_U21<13>" LOCATE = SITE "AA17" LEVEL 1;
COMP "DATA_IN_U13<13>" LOCATE = SITE "H17" LEVEL 1;
COMP "DATA_IN_U21<14>" LOCATE = SITE "AD18" LEVEL 1;
COMP "DATA_IN_U13<14>" LOCATE = SITE "F18" LEVEL 1;
COMP "DATA_IN_U21<15>" LOCATE = SITE "AB17" LEVEL 1;
COMP "DATA_IN_U13<15>" LOCATE = SITE "E18" LEVEL 1;
COMP "DATA_IN_U14<10>" LOCATE = SITE "D20" LEVEL 1;
COMP "DATA_IN_U22<10>" LOCATE = SITE "AD15" LEVEL 1;
COMP "DATA_IN_U14<11>" LOCATE = SITE "A21" LEVEL 1;
COMP "DATA_IN_U22<11>" LOCATE = SITE "AC14" LEVEL 1;
COMP "DATA_IN_U14<12>" LOCATE = SITE "C21" LEVEL 1;
COMP "DATA_IN_U22<12>" LOCATE = SITE "Y15" LEVEL 1;
COMP "DATA_IN_U14<13>" LOCATE = SITE "D21" LEVEL 1;
COMP "DATA_IN_U22<13>" LOCATE = SITE "AA15" LEVEL 1;
COMP "DATA_IN_U14<14>" LOCATE = SITE "A22" LEVEL 1;
COMP "DATA_IN_U22<14>" LOCATE = SITE "AB15" LEVEL 1;
COMP "DATA_IN_U14<15>" LOCATE = SITE "B22" LEVEL 1;
COMP "DATA_IN_U22<15>" LOCATE = SITE "AD14" LEVEL 1;
COMP "DATA_IN_U15<10>" LOCATE = SITE "D22" LEVEL 1;
COMP "DATA_IN_U23<10>" LOCATE = SITE "AB13" LEVEL 1;
COMP "DATA_IN_U15<11>" LOCATE = SITE "C24" LEVEL 1;
COMP "DATA_IN_U23<11>" LOCATE = SITE "AA13" LEVEL 1;
COMP "DATA_IN_U15<12>" LOCATE = SITE "D23" LEVEL 1;
COMP "DATA_IN_U23<12>" LOCATE = SITE "Y13" LEVEL 1;
COMP "DATA_IN_U15<13>" LOCATE = SITE "D24" LEVEL 1;
COMP "DATA_IN_U23<13>" LOCATE = SITE "W12" LEVEL 1;
COMP "DATA_IN_U15<14>" LOCATE = SITE "E23" LEVEL 1;
COMP "DATA_IN_U23<14>" LOCATE = SITE "V12" LEVEL 1;
COMP "DATA_IN_U15<15>" LOCATE = SITE "E24" LEVEL 1;
COMP "DATA_IN_U23<15>" LOCATE = SITE "AA12" LEVEL 1;
COMP "DATA_IN_U16<10>" LOCATE = SITE "H26" LEVEL 1;
COMP "DATA_IN_U24<10>" LOCATE = SITE "AB10" LEVEL 1;
COMP "DATA_IN_U16<11>" LOCATE = SITE "H22" LEVEL 1;
COMP "DATA_IN_U24<11>" LOCATE = SITE "AD9" LEVEL 1;
COMP "DATA_IN_U16<12>" LOCATE = SITE "H20" LEVEL 1;
COMP "DATA_IN_U24<12>" LOCATE = SITE "AA9" LEVEL 1;
COMP "DATA_IN_U16<13>" LOCATE = SITE "J20" LEVEL 1;
COMP "DATA_IN_U24<13>" LOCATE = SITE "AB9" LEVEL 1;
COMP "DATA_IN_U16<14>" LOCATE = SITE "H21" LEVEL 1;
COMP "DATA_IN_U24<14>" LOCATE = SITE "AC9" LEVEL 1;
COMP "DATA_IN_U16<15>" LOCATE = SITE "H24" LEVEL 1;
COMP "DATA_IN_U24<15>" LOCATE = SITE "AD8" LEVEL 1;
COMP "DATA_IN_U17<10>" LOCATE = SITE "N25" LEVEL 1;
COMP "DATA_IN_U25<10>" LOCATE = SITE "AD3" LEVEL 1;
COMP "DATA_IN_U17<11>" LOCATE = SITE "N26" LEVEL 1;
COMP "DATA_IN_U25<11>" LOCATE = SITE "AC3" LEVEL 1;
COMP "DATA_IN_U17<12>" LOCATE = SITE "L20" LEVEL 1;
COMP "DATA_IN_U25<12>" LOCATE = SITE "AB3" LEVEL 1;
COMP "DATA_IN_U17<13>" LOCATE = SITE "K24" LEVEL 1;
COMP "DATA_IN_U25<13>" LOCATE = SITE "AA3" LEVEL 1;
COMP "DATA_IN_U17<14>" LOCATE = SITE "L21" LEVEL 1;
COMP "DATA_IN_U25<14>" LOCATE = SITE "AA2" LEVEL 1;
COMP "DATA_IN_U17<15>" LOCATE = SITE "M24" LEVEL 1;
COMP "DATA_IN_U25<15>" LOCATE = SITE "AA1" LEVEL 1;
COMP "DATA_IN_U18<10>" LOCATE = SITE "U25" LEVEL 1;
COMP "DATA_IN_U18<11>" LOCATE = SITE "T23" LEVEL 1;
COMP "DATA_IN_U18<12>" LOCATE = SITE "T22" LEVEL 1;
COMP "DATA_IN_U18<13>" LOCATE = SITE "U22" LEVEL 1;
COMP "DATA_IN_U18<14>" LOCATE = SITE "U24" LEVEL 1;
COMP "DATA_IN_U18<15>" LOCATE = SITE "U23" LEVEL 1;
COMP "DATA_IN_U19<10>" LOCATE = SITE "AA26" LEVEL 1;
COMP "DATA_IN_U19<11>" LOCATE = SITE "AA25" LEVEL 1;
COMP "DATA_IN_U19<12>" LOCATE = SITE "Y20" LEVEL 1;
COMP "DATA_IN_U19<13>" LOCATE = SITE "W19" LEVEL 1;
COMP "DATA_IN_U19<14>" LOCATE = SITE "Y21" LEVEL 1;
COMP "DATA_IN_U19<15>" LOCATE = SITE "Y22" LEVEL 1;
COMP "DATA_IN_U10<0>" LOCATE = SITE "D5" LEVEL 1;
COMP "DATA_IN_U10<1>" LOCATE = SITE "C5" LEVEL 1;
COMP "DATA_IN_U10<2>" LOCATE = SITE "D6" LEVEL 1;
COMP "DATA_IN_U10<3>" LOCATE = SITE "C6" LEVEL 1;
COMP "DATA_IN_U11<0>" LOCATE = SITE "D8" LEVEL 1;
COMP "DATA_IN_U10<4>" LOCATE = SITE "E6" LEVEL 1;
COMP "DATA_IN_U11<1>" LOCATE = SITE "G8" LEVEL 1;
COMP "DATA_IN_U10<5>" LOCATE = SITE "A2" LEVEL 1;
COMP "DATA_IN_U11<2>" LOCATE = SITE "C8" LEVEL 1;
COMP "DATA_IN_U10<6>" LOCATE = SITE "B4" LEVEL 1;
COMP "DATA_IN_U11<3>" LOCATE = SITE "F9" LEVEL 1;
COMP "DATA_IN_U10<7>" LOCATE = SITE "A4" LEVEL 1;
COMP "DATA_IN_U20<0>" LOCATE = SITE "AA24" LEVEL 1;
COMP "DATA_IN_U12<0>" LOCATE = SITE "C12" LEVEL 1;
COMP "DATA_IN_U11<4>" LOCATE = SITE "F10" LEVEL 1;
COMP "DATA_IN_U10<8>" LOCATE = SITE "A6" LEVEL 1;
COMP "DATA_IN_U20<1>" LOCATE = SITE "AA23" LEVEL 1;
COMP "DATA_IN_U12<1>" LOCATE = SITE "J14" LEVEL 1;
COMP "DATA_IN_U11<5>" LOCATE = SITE "E9" LEVEL 1;
COMP "DATA_IN_U10<9>" LOCATE = SITE "A7" LEVEL 1;
COMP "DATA_IN_U20<2>" LOCATE = SITE "AB24" LEVEL 1;
COMP "DATA_IN_U12<2>" LOCATE = SITE "D13" LEVEL 1;
COMP "DATA_IN_U11<6>" LOCATE = SITE "C9" LEVEL 1;
COMP "DATA_IN_U20<3>" LOCATE = SITE "AA22" LEVEL 1;
COMP "DATA_IN_U12<3>" LOCATE = SITE "F13" LEVEL 1;
COMP "DATA_IN_U11<7>" LOCATE = SITE "D10" LEVEL 1;
COMP "DATA_IN_U21<0>" LOCATE = SITE "AD21" LEVEL 1;
COMP "DATA_IN_U20<4>" LOCATE = SITE "AB22" LEVEL 1;
COMP "DATA_IN_U13<0>" LOCATE = SITE "E16" LEVEL 1;
COMP "DATA_IN_U12<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "DATA_IN_U11<8>" LOCATE = SITE "A10" LEVEL 1;
COMP "DATA_IN_U21<1>" LOCATE = SITE "AC20" LEVEL 1;
COMP "DATA_IN_U20<5>" LOCATE = SITE "AB26" LEVEL 1;
COMP "DATA_IN_U13<1>" LOCATE = SITE "H15" LEVEL 1;
COMP "DATA_IN_U12<5>" LOCATE = SITE "B12" LEVEL 1;
COMP "DATA_IN_U11<9>" LOCATE = SITE "C10" LEVEL 1;
COMP "DATA_IN_U21<2>" LOCATE = SITE "AA19" LEVEL 1;
COMP "DATA_IN_U20<6>" LOCATE = SITE "AC26" LEVEL 1;
COMP "DATA_IN_U13<2>" LOCATE = SITE "J15" LEVEL 1;
COMP "DATA_IN_U12<6>" LOCATE = SITE "A12" LEVEL 1;
COMP "DATA_IN_U21<3>" LOCATE = SITE "Y18" LEVEL 1;
COMP "DATA_IN_U20<7>" LOCATE = SITE "AC24" LEVEL 1;
COMP "DATA_IN_U13<3>" LOCATE = SITE "F16" LEVEL 1;
COMP "DATA_IN_U12<7>" LOCATE = SITE "C13" LEVEL 1;
COMP "DATA_IN_U21<4>" LOCATE = SITE "W17" LEVEL 1;
COMP "DATA_IN_U20<8>" LOCATE = SITE "AD24" LEVEL 1;
COMP "DATA_IN_U14<0>" LOCATE = SITE "C18" LEVEL 1;
COMP "DATA_IN_U13<4>" LOCATE = SITE "G16" LEVEL 1;
COMP "DATA_IN_U12<8>" LOCATE = SITE "B14" LEVEL 1;
COMP "DATA_IN_U22<0>" LOCATE = SITE "AC17" LEVEL 1;
COMP "DATA_IN_U21<5>" LOCATE = SITE "AE21" LEVEL 1;
COMP "DATA_IN_U20<9>" LOCATE = SITE "AE26" LEVEL 1;
COMP "DATA_IN_U14<1>" LOCATE = SITE "D18" LEVEL 1;
COMP "DATA_IN_U13<5>" LOCATE = SITE "A16" LEVEL 1;
COMP "DATA_IN_U12<9>" LOCATE = SITE "C14" LEVEL 1;
COMP "DATA_IN_U22<1>" LOCATE = SITE "AD17" LEVEL 1;
COMP "DATA_IN_U21<6>" LOCATE = SITE "AF21" LEVEL 1;
COMP "DATA_IN_U14<2>" LOCATE = SITE "C19" LEVEL 1;
COMP "DATA_IN_U13<6>" LOCATE = SITE "C16" LEVEL 1;
COMP "DATA_IN_U22<2>" LOCATE = SITE "Y16" LEVEL 1;
COMP "DATA_IN_U21<7>" LOCATE = SITE "AC19" LEVEL 1;
COMP "DATA_IN_U14<3>" LOCATE = SITE "E19" LEVEL 1;
COMP "DATA_IN_U13<7>" LOCATE = SITE "D16" LEVEL 1;
COMP "DATA_IN_U22<3>" LOCATE = SITE "W16" LEVEL 1;
COMP "DATA_IN_U21<8>" LOCATE = SITE "AF19" LEVEL 1;
COMP "DATA_IN_U15<0>" LOCATE = SITE "G19" LEVEL 1;
COMP "DATA_IN_U14<4>" LOCATE = SITE "E20" LEVEL 1;
COMP "DATA_IN_U13<8>" LOCATE = SITE "C17" LEVEL 1;
COMP "DATA_IN_U23<0>" LOCATE = SITE "AF14" LEVEL 1;
COMP "DATA_IN_U22<4>" LOCATE = SITE "V16" LEVEL 1;
COMP "DATA_IN_U21<9>" LOCATE = SITE "AD19" LEVEL 1;
COMP "DATA_IN_U15<1>" LOCATE = SITE "G20" LEVEL 1;
COMP "DATA_IN_U14<5>" LOCATE = SITE "A18" LEVEL 1;
COMP "DATA_IN_U13<9>" LOCATE = SITE "E17" LEVEL 1;
COMP "DATA_IN_U23<1>" LOCATE = SITE "AA14" LEVEL 1;
COMP "DATA_IN_U22<5>" LOCATE = SITE "AE17" LEVEL 1;
COMP "DATA_IN_U15<2>" LOCATE = SITE "G21" LEVEL 1;
COMP "DATA_IN_U14<6>" LOCATE = SITE "B18" LEVEL 1;
COMP "DATA_IN_U23<2>" LOCATE = SITE "Y14" LEVEL 1;
COMP "DATA_IN_U22<6>" LOCATE = SITE "AF17" LEVEL 1;
COMP "DATA_IN_U15<3>" LOCATE = SITE "H19" LEVEL 1;
COMP "DATA_IN_U14<7>" LOCATE = SITE "D19" LEVEL 1;
COMP "DATA_IN_U23<3>" LOCATE = SITE "W14" LEVEL 1;
COMP "DATA_IN_U22<7>" LOCATE = SITE "AC16" LEVEL 1;
COMP "DATA_IN_U16<0>" LOCATE = SITE "F22" LEVEL 1;
COMP "DATA_IN_U15<4>" LOCATE = SITE "H18" LEVEL 1;
COMP "DATA_IN_U14<8>" LOCATE = SITE "B20" LEVEL 1;
COMP "DATA_IN_U24<0>" LOCATE = SITE "AD11" LEVEL 1;
COMP "DATA_IN_U23<4>" LOCATE = SITE "V14" LEVEL 1;
COMP "DATA_IN_U22<8>" LOCATE = SITE "AF15" LEVEL 1;
COMP "DATA_IN_U16<1>" LOCATE = SITE "F24" LEVEL 1;
COMP "DATA_IN_U15<5>" LOCATE = SITE "A23" LEVEL 1;
COMP "DATA_IN_U14<9>" LOCATE = SITE "C20" LEVEL 1;
COMP "DATA_IN_U24<1>" LOCATE = SITE "AC11" LEVEL 1;
COMP "DATA_IN_U23<5>" LOCATE = SITE "AF13" LEVEL 1;
COMP "DATA_IN_U22<9>" LOCATE = SITE "AC15" LEVEL 1;
COMP "DATA_IN_U16<2>" LOCATE = SITE "G23" LEVEL 1;
COMP "DATA_IN_U15<6>" LOCATE = SITE "B23" LEVEL 1;
COMP "DATA_IN_U24<2>" LOCATE = SITE "AB11" LEVEL 1;
COMP "DATA_IN_U23<6>" LOCATE = SITE "AD13" LEVEL 1;
COMP "DATA_IN_U16<3>" LOCATE = SITE "G24" LEVEL 1;
COMP "DATA_IN_U15<7>" LOCATE = SITE "B24" LEVEL 1;
COMP "DATA_IN_U24<3>" LOCATE = SITE "AA11" LEVEL 1;
COMP "DATA_IN_U23<7>" LOCATE = SITE "AC13" LEVEL 1;
COMP "DATA_IN_U17<0>" LOCATE = SITE "J23" LEVEL 1;
COMP "DATA_IN_U16<4>" LOCATE = SITE "G22" LEVEL 1;
COMP "DATA_IN_U15<8>" LOCATE = SITE "B26" LEVEL 1;
COMP "DATA_IN_U25<0>" LOCATE = SITE "AE3" LEVEL 1;
COMP "DATA_IN_U24<4>" LOCATE = SITE "Y10" LEVEL 1;
COMP "DATA_IN_U23<8>" LOCATE = SITE "AD12" LEVEL 1;
COMP "DATA_IN_U17<1>" LOCATE = SITE "J24" LEVEL 1;
COMP "DATA_IN_U16<5>" LOCATE = SITE "C26" LEVEL 1;
COMP "DATA_IN_U15<9>" LOCATE = SITE "C25" LEVEL 1;
COMP "DATA_IN_U25<1>" LOCATE = SITE "AD4" LEVEL 1;
COMP "DATA_IN_U24<5>" LOCATE = SITE "AF11" LEVEL 1;
COMP "DATA_IN_U23<9>" LOCATE = SITE "AC12" LEVEL 1;
COMP "DATA_IN_U17<2>" LOCATE = SITE "J22" LEVEL 1;
COMP "DATA_IN_U16<6>" LOCATE = SITE "D26" LEVEL 1;
COMP "DATA_IN_U25<2>" LOCATE = SITE "AC4" LEVEL 1;
COMP "DATA_IN_U24<6>" LOCATE = SITE "AE11" LEVEL 1;
COMP "DATA_IN_U17<3>" LOCATE = SITE "K21" LEVEL 1;
COMP "DATA_IN_U16<7>" LOCATE = SITE "E25" LEVEL 1;
COMP "DATA_IN_U25<3>" LOCATE = SITE "AB4" LEVEL 1;
COMP "DATA_IN_U24<7>" LOCATE = SITE "AD10" LEVEL 1;
COMP "DATA_IN_U18<0>" LOCATE = SITE "P24" LEVEL 1;
COMP "DATA_IN_U17<4>" LOCATE = SITE "K20" LEVEL 1;
COMP "DATA_IN_U16<8>" LOCATE = SITE "G25" LEVEL 1;
COMP "DATA_IN_U25<4>" LOCATE = SITE "AA4" LEVEL 1;
COMP "DATA_IN_U24<8>" LOCATE = SITE "AE9" LEVEL 1;
COMP "DATA_IN_U18<1>" LOCATE = SITE "P22" LEVEL 1;
COMP "DATA_IN_U17<5>" LOCATE = SITE "J25" LEVEL 1;
COMP "DATA_IN_U16<9>" LOCATE = SITE "G26" LEVEL 1;
COMP "DATA_IN_U25<5>" LOCATE = SITE "AF2" LEVEL 1;
COMP "DATA_IN_U24<9>" LOCATE = SITE "AF8" LEVEL 1;
COMP "DATA_IN_U18<2>" LOCATE = SITE "R24" LEVEL 1;
COMP "DATA_IN_U17<6>" LOCATE = SITE "J26" LEVEL 1;
COMP "DATA_IN_U25<6>" LOCATE = SITE "AE2" LEVEL 1;
COMP "DATA_IN_U18<3>" LOCATE = SITE "R22" LEVEL 1;
COMP "DATA_IN_U17<7>" LOCATE = SITE "K26" LEVEL 1;
COMP "DATA_IN_U25<7>" LOCATE = SITE "AE1" LEVEL 1;
COMP "DATA_IN_U19<0>" LOCATE = SITE "V24" LEVEL 1;
COMP "DATA_IN_U18<4>" LOCATE = SITE "R21" LEVEL 1;
COMP "DATA_IN_U17<8>" LOCATE = SITE "M26" LEVEL 1;
COMP "DATA_IN_U25<8>" LOCATE = SITE "AC1" LEVEL 1;
COMP "DATA_IN_U19<1>" LOCATE = SITE "V23" LEVEL 1;
COMP "DATA_IN_U18<5>" LOCATE = SITE "P26" LEVEL 1;
COMP "DATA_IN_U17<9>" LOCATE = SITE "K22" LEVEL 1;
COMP "DATA_IN_U25<9>" LOCATE = SITE "AB1" LEVEL 1;
COMP "DATA_IN_U19<2>" LOCATE = SITE "V22" LEVEL 1;
COMP "DATA_IN_U18<6>" LOCATE = SITE "R26" LEVEL 1;
COMP "DATA_IN_U19<3>" LOCATE = SITE "U21" LEVEL 1;
COMP "DATA_IN_U18<7>" LOCATE = SITE "R23" LEVEL 1;
COMP "DATA_IN_U19<4>" LOCATE = SITE "V20" LEVEL 1;
COMP "DATA_IN_U18<8>" LOCATE = SITE "T24" LEVEL 1;
COMP "DATA_IN_U19<5>" LOCATE = SITE "V26" LEVEL 1;
COMP "DATA_IN_U18<9>" LOCATE = SITE "U26" LEVEL 1;
COMP "DATA_IN_U19<6>" LOCATE = SITE "W26" LEVEL 1;
COMP "DATA_IN_U19<7>" LOCATE = SITE "W24" LEVEL 1;
COMP "DATA_IN_U19<8>" LOCATE = SITE "W22" LEVEL 1;
COMP "DATA_IN_U19<9>" LOCATE = SITE "Y24" LEVEL 1;
SCHEMATIC END;

