####################################################    CLK    ####################################################

NET "CLK" LOC = T1;
NET "CLK" IOSTANDARD = LVTTL;

####################################################    UART   ####################################################

NET "TX1" LOC = H6;
NET "RX1" LOC = H7;
NET "TX1" IOSTANDARD = LVTTL;
NET "RX1" IOSTANDARD = LVTTL;

####################################################    LED    ####################################################

NET "LED[0]" LOC = M21;
NET "LED[1]" LOC = N23;
NET "LED[2]" LOC = N22;
NET "LED[3]" LOC = N21;
NET "LED[3]" IOSTANDARD = LVTTL;
NET "LED[0]" IOSTANDARD = LVTTL;
NET "LED[2]" IOSTANDARD = LVTTL;
NET "LED[1]" IOSTANDARD = LVTTL;

#################################################### ADC - U10 A ####################################################

NET "CLKOUT_U10_p" LOC = B6;
NET "CLKOUT_U10_n" LOC = A5;
NET "CLKOUT_U10_p" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U10_n" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U10_p" IOSTANDARD = LVTTL;
NET "CLKOUT_U10_n" IOSTANDARD = LVTTL;

NET "DATA_IN_U10[0]"  LOC = D5;
NET "DATA_IN_U10[1]"  LOC = C5;
NET "DATA_IN_U10[2]"  LOC = D6;
NET "DATA_IN_U10[3]"  LOC = C6;
NET "DATA_IN_U10[4]"  LOC = E6;
NET "DATA_IN_U10[5]"  LOC = A2;
NET "DATA_IN_U10[6]"  LOC = B4;
NET "DATA_IN_U10[7]"  LOC = A4;
NET "DATA_IN_U10[8]"  LOC = A6;
NET "DATA_IN_U10[9]"  LOC = A7;
NET "DATA_IN_U10[10]" LOC = B8;
NET "DATA_IN_U10[11]" LOC = A8;
NET "DATA_IN_U10[12]" LOC = F7;
NET "DATA_IN_U10[13]" LOC = E8;
NET "DATA_IN_U10[14]" LOC = D7;
NET "DATA_IN_U10[15]" LOC = C7;

NET "DATA_IN_U10[0]" IOSTANDARD = LVTTL;
NET "DATA_IN_U10[1]" IOSTANDARD = LVTTL;
NET "DATA_IN_U10[2]" IOSTANDARD = LVTTL;
NET "DATA_IN_U10[3]" IOSTANDARD = LVTTL;
NET "DATA_IN_U10[4]" IOSTANDARD = LVTTL;
NET "DATA_IN_U10[5]" IOSTANDARD = LVTTL;
NET "DATA_IN_U10[6]" IOSTANDARD = LVTTL;
NET "DATA_IN_U10[7]" IOSTANDARD = LVTTL;
NET "DATA_IN_U10[8]" IOSTANDARD = LVTTL;
NET "DATA_IN_U10[9]" IOSTANDARD = LVTTL;
NET "DATA_IN_U10[10]" IOSTANDARD = LVTTL;
NET "DATA_IN_U10[11]" IOSTANDARD = LVTTL;
NET "DATA_IN_U10[12]" IOSTANDARD = LVTTL;
NET "DATA_IN_U10[13]" IOSTANDARD = LVTTL;
NET "DATA_IN_U10[14]" IOSTANDARD = LVTTL;
NET "DATA_IN_U10[15]" IOSTANDARD = LVTTL;

#################################################### ADC - U11 B ####################################################

NET "CLKOUT_U11_p" LOC = B10;
NET "CLKOUT_U11_n" LOC = A9;
NET "CLKOUT_U11_p" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U11_n" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U11_p" IOSTANDARD = LVTTL;
NET "CLKOUT_U11_n" IOSTANDARD = LVTTL;

NET "DATA_IN_U11[0]"  LOC = D8;
NET "DATA_IN_U11[1]"  LOC = G8;
NET "DATA_IN_U11[2]"  LOC = C8;
NET "DATA_IN_U11[3]"  LOC = F9;
NET "DATA_IN_U11[4]"  LOC = F10;
NET "DATA_IN_U11[5]"  LOC = E9;
NET "DATA_IN_U11[6]"  LOC = C9;
NET "DATA_IN_U11[7]"  LOC = D10;
NET "DATA_IN_U11[8]"  LOC = A10;
NET "DATA_IN_U11[9]"  LOC = C10;
NET "DATA_IN_U11[10]" LOC = A11;
NET "DATA_IN_U11[11]" LOC = D11;
NET "DATA_IN_U11[12]" LOC = E10;
NET "DATA_IN_U11[13]" LOC = C11;
NET "DATA_IN_U11[14]" LOC = F11;
NET "DATA_IN_U11[15]" LOC = D12;

NET "DATA_IN_U11[0]" IOSTANDARD = LVTTL;
NET "DATA_IN_U11[1]" IOSTANDARD = LVTTL;
NET "DATA_IN_U11[2]" IOSTANDARD = LVTTL;
NET "DATA_IN_U11[3]" IOSTANDARD = LVTTL;
NET "DATA_IN_U11[4]" IOSTANDARD = LVTTL;
NET "DATA_IN_U11[5]" IOSTANDARD = LVTTL;
NET "DATA_IN_U11[6]" IOSTANDARD = LVTTL;
NET "DATA_IN_U11[7]" IOSTANDARD = LVTTL;
NET "DATA_IN_U11[8]" IOSTANDARD = LVTTL;
NET "DATA_IN_U11[9]" IOSTANDARD = LVTTL;
NET "DATA_IN_U11[10]" IOSTANDARD = LVTTL;
NET "DATA_IN_U11[11]" IOSTANDARD = LVTTL;
NET "DATA_IN_U11[12]" IOSTANDARD = LVTTL;
NET "DATA_IN_U11[13]" IOSTANDARD = LVTTL;
NET "DATA_IN_U11[14]" IOSTANDARD = LVTTL;
NET "DATA_IN_U11[15]" IOSTANDARD = LVTTL;

#################################################### ADC - U12 C ####################################################

NET "CLKOUT_U12_p" LOC = A14;
NET "CLKOUT_U12_n" LOC = A13;
NET "CLKOUT_U12_p" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U12_n" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U12_p" IOSTANDARD = LVTTL;
NET "CLKOUT_U12_n" IOSTANDARD = LVTTL;

NET "DATA_IN_U12[0]"  LOC = C12;
NET "DATA_IN_U12[1]"  LOC = J14;
NET "DATA_IN_U12[2]"  LOC = D13;
NET "DATA_IN_U12[3]"  LOC = F13;
NET "DATA_IN_U12[4]"  LOC = G14;
NET "DATA_IN_U12[5]"  LOC = B12;
NET "DATA_IN_U12[6]"  LOC = A12;
NET "DATA_IN_U12[7]"  LOC = C13;
NET "DATA_IN_U12[8]"  LOC = B14;
NET "DATA_IN_U12[9]"  LOC = C14;
NET "DATA_IN_U12[10]" LOC = A15;
NET "DATA_IN_U12[11]" LOC = D14;
NET "DATA_IN_U12[12]" LOC = E14;
NET "DATA_IN_U12[13]" LOC = F15;
NET "DATA_IN_U12[14]" LOC = C15;
NET "DATA_IN_U12[15]" LOC = D15;

NET "DATA_IN_U12[0]" IOSTANDARD = LVTTL;
NET "DATA_IN_U12[1]" IOSTANDARD = LVTTL;
NET "DATA_IN_U12[2]" IOSTANDARD = LVTTL;
NET "DATA_IN_U12[3]" IOSTANDARD = LVTTL;
NET "DATA_IN_U12[4]" IOSTANDARD = LVTTL;
NET "DATA_IN_U12[5]" IOSTANDARD = LVTTL;
NET "DATA_IN_U12[6]" IOSTANDARD = LVTTL;
NET "DATA_IN_U12[7]" IOSTANDARD = LVTTL;
NET "DATA_IN_U12[8]" IOSTANDARD = LVTTL;
NET "DATA_IN_U12[9]" IOSTANDARD = LVTTL;
NET "DATA_IN_U12[10]" IOSTANDARD = LVTTL;
NET "DATA_IN_U12[11]" IOSTANDARD = LVTTL;
NET "DATA_IN_U12[12]" IOSTANDARD = LVTTL;
NET "DATA_IN_U12[13]" IOSTANDARD = LVTTL;
NET "DATA_IN_U12[14]" IOSTANDARD = LVTTL;
NET "DATA_IN_U12[15]" IOSTANDARD = LVTTL;

#################################################### ADC - U13 D ####################################################

NET "CLKOUT_U13_p" LOC = A17;
NET "CLKOUT_U13_n" LOC = B16;
NET "CLKOUT_U13_p" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U13_n" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U13_p" IOSTANDARD = LVTTL;
NET "CLKOUT_U13_n" IOSTANDARD = LVTTL;

NET "DATA_IN_U13[0]"  LOC = E16;
NET "DATA_IN_U13[1]"  LOC = H15;
NET "DATA_IN_U13[2]"  LOC = J15;
NET "DATA_IN_U13[3]"  LOC = F16;
NET "DATA_IN_U13[4]"  LOC = G16;
NET "DATA_IN_U13[5]"  LOC = A16;
NET "DATA_IN_U13[6]"  LOC = C16;
NET "DATA_IN_U13[7]"  LOC = D16;
NET "DATA_IN_U13[8]"  LOC = C17;
NET "DATA_IN_U13[9]"  LOC = E17;
NET "DATA_IN_U13[10]" LOC = F17;
NET "DATA_IN_U13[11]" LOC = G17;
NET "DATA_IN_U13[12]" LOC = J17;
NET "DATA_IN_U13[13]" LOC = H17;
NET "DATA_IN_U13[14]" LOC = F18;
NET "DATA_IN_U13[15]" LOC = E18;

NET "DATA_IN_U13[0]" IOSTANDARD = LVTTL;
NET "DATA_IN_U13[1]" IOSTANDARD = LVTTL;
NET "DATA_IN_U13[2]" IOSTANDARD = LVTTL;
NET "DATA_IN_U13[3]" IOSTANDARD = LVTTL;
NET "DATA_IN_U13[4]" IOSTANDARD = LVTTL;
NET "DATA_IN_U13[5]" IOSTANDARD = LVTTL;
NET "DATA_IN_U13[6]" IOSTANDARD = LVTTL;
NET "DATA_IN_U13[7]" IOSTANDARD = LVTTL;
NET "DATA_IN_U13[8]" IOSTANDARD = LVTTL;
NET "DATA_IN_U13[9]" IOSTANDARD = LVTTL;
NET "DATA_IN_U13[10]" IOSTANDARD = LVTTL;
NET "DATA_IN_U13[11]" IOSTANDARD = LVTTL;
NET "DATA_IN_U13[12]" IOSTANDARD = LVTTL;
NET "DATA_IN_U13[13]" IOSTANDARD = LVTTL;
NET "DATA_IN_U13[14]" IOSTANDARD = LVTTL;
NET "DATA_IN_U13[15]" IOSTANDARD = LVTTL;

#################################################### ADC - U14 E ####################################################

NET "CLKOUT_U14_p" LOC = A20;
NET "CLKOUT_U14_n" LOC = A19;
NET "CLKOUT_U14_p" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U14_n" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U14_p" IOSTANDARD = LVTTL;
NET "CLKOUT_U14_n" IOSTANDARD = LVTTL;

NET "DATA_IN_U14[0]"  LOC = C18;
NET "DATA_IN_U14[1]"  LOC = D18;
NET "DATA_IN_U14[2]"  LOC = C19;
NET "DATA_IN_U14[3]"  LOC = E19;
NET "DATA_IN_U14[4]"  LOC = E20;
NET "DATA_IN_U14[5]"  LOC = A18;
NET "DATA_IN_U14[6]"  LOC = B18;
NET "DATA_IN_U14[7]"  LOC = D19;
NET "DATA_IN_U14[8]"  LOC = B20;
NET "DATA_IN_U14[9]"  LOC = C20;
NET "DATA_IN_U14[10]" LOC = D20;
NET "DATA_IN_U14[11]" LOC = A21;
NET "DATA_IN_U14[12]" LOC = C21;
NET "DATA_IN_U14[13]" LOC = D21;
NET "DATA_IN_U14[14]" LOC = A22;
NET "DATA_IN_U14[15]" LOC = B22;

NET "DATA_IN_U14[0]" IOSTANDARD = LVTTL;
NET "DATA_IN_U14[1]" IOSTANDARD = LVTTL;
NET "DATA_IN_U14[2]" IOSTANDARD = LVTTL;
NET "DATA_IN_U14[3]" IOSTANDARD = LVTTL;
NET "DATA_IN_U14[4]" IOSTANDARD = LVTTL;
NET "DATA_IN_U14[5]" IOSTANDARD = LVTTL;
NET "DATA_IN_U14[6]" IOSTANDARD = LVTTL;
NET "DATA_IN_U14[7]" IOSTANDARD = LVTTL;
NET "DATA_IN_U14[8]" IOSTANDARD = LVTTL;
NET "DATA_IN_U14[9]" IOSTANDARD = LVTTL;
NET "DATA_IN_U14[10]" IOSTANDARD = LVTTL;
NET "DATA_IN_U14[11]" IOSTANDARD = LVTTL;
NET "DATA_IN_U14[12]" IOSTANDARD = LVTTL;
NET "DATA_IN_U14[13]" IOSTANDARD = LVTTL;
NET "DATA_IN_U14[14]" IOSTANDARD = LVTTL;
NET "DATA_IN_U14[15]" IOSTANDARD = LVTTL;

#################################################### ADC - U15 F ####################################################

NET "CLKOUT_U15_p" LOC = B25;
NET "CLKOUT_U15_n" LOC = A25;
NET "CLKOUT_U15_p" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U15_n" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U15_p" IOSTANDARD = LVTTL;
NET "CLKOUT_U15_n" IOSTANDARD = LVTTL;

NET "DATA_IN_U15[0]"  LOC = G19;
NET "DATA_IN_U15[1]"  LOC = G20;
NET "DATA_IN_U15[2]"  LOC = G21;
NET "DATA_IN_U15[3]"  LOC = H19;
NET "DATA_IN_U15[4]"  LOC = H18;
NET "DATA_IN_U15[5]"  LOC = A23;
NET "DATA_IN_U15[6]"  LOC = B23;
NET "DATA_IN_U15[7]"  LOC = B24;
NET "DATA_IN_U15[8]"  LOC = B26;
NET "DATA_IN_U15[9]"  LOC = C25;
NET "DATA_IN_U15[10]" LOC = D22;
NET "DATA_IN_U15[11]" LOC = C24;
NET "DATA_IN_U15[12]" LOC = D23;
NET "DATA_IN_U15[13]" LOC = D24;
NET "DATA_IN_U15[14]" LOC = E23;
NET "DATA_IN_U15[15]" LOC = E24;

NET "DATA_IN_U15[0]" IOSTANDARD = LVTTL;
NET "DATA_IN_U15[1]" IOSTANDARD = LVTTL;
NET "DATA_IN_U15[2]" IOSTANDARD = LVTTL;
NET "DATA_IN_U15[3]" IOSTANDARD = LVTTL;
NET "DATA_IN_U15[4]" IOSTANDARD = LVTTL;
NET "DATA_IN_U15[5]" IOSTANDARD = LVTTL;
NET "DATA_IN_U15[6]" IOSTANDARD = LVTTL;
NET "DATA_IN_U15[7]" IOSTANDARD = LVTTL;
NET "DATA_IN_U15[8]" IOSTANDARD = LVTTL;
NET "DATA_IN_U15[9]" IOSTANDARD = LVTTL;
NET "DATA_IN_U15[10]" IOSTANDARD = LVTTL;
NET "DATA_IN_U15[11]" IOSTANDARD = LVTTL;
NET "DATA_IN_U15[12]" IOSTANDARD = LVTTL;
NET "DATA_IN_U15[13]" IOSTANDARD = LVTTL;
NET "DATA_IN_U15[14]" IOSTANDARD = LVTTL;
NET "DATA_IN_U15[15]" IOSTANDARD = LVTTL;

#################################################### ADC - U16 G ####################################################

NET "CLKOUT_U16_p" LOC = F26;
NET "CLKOUT_U16_n" LOC = E26;
NET "CLKOUT_U16_p" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U16_n" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U16_p" IOSTANDARD = LVTTL;
NET "CLKOUT_U16_n" IOSTANDARD = LVTTL;

NET "DATA_IN_U16[0]"  LOC = F22;
NET "DATA_IN_U16[1]"  LOC = F24;
NET "DATA_IN_U16[2]"  LOC = G23;
NET "DATA_IN_U16[3]"  LOC = G24;
NET "DATA_IN_U16[4]"  LOC = G22;
NET "DATA_IN_U16[5]"  LOC = C26;
NET "DATA_IN_U16[6]"  LOC = D26;
NET "DATA_IN_U16[7]"  LOC = E25;
NET "DATA_IN_U16[8]"  LOC = G25;
NET "DATA_IN_U16[9]"  LOC = G26;
NET "DATA_IN_U16[10]" LOC = H26;
NET "DATA_IN_U16[11]" LOC = H22;
NET "DATA_IN_U16[12]" LOC = H20;
NET "DATA_IN_U16[13]" LOC = J20;
NET "DATA_IN_U16[14]" LOC = H21;
NET "DATA_IN_U16[15]" LOC = H24;

NET "DATA_IN_U16[0]" IOSTANDARD = LVTTL;
NET "DATA_IN_U16[1]" IOSTANDARD = LVTTL;
NET "DATA_IN_U16[2]" IOSTANDARD = LVTTL;
NET "DATA_IN_U16[3]" IOSTANDARD = LVTTL;
NET "DATA_IN_U16[4]" IOSTANDARD = LVTTL;
NET "DATA_IN_U16[5]" IOSTANDARD = LVTTL;
NET "DATA_IN_U16[6]" IOSTANDARD = LVTTL;
NET "DATA_IN_U16[7]" IOSTANDARD = LVTTL;
NET "DATA_IN_U16[8]" IOSTANDARD = LVTTL;
NET "DATA_IN_U16[9]" IOSTANDARD = LVTTL;
NET "DATA_IN_U16[10]" IOSTANDARD = LVTTL;
NET "DATA_IN_U16[11]" IOSTANDARD = LVTTL;
NET "DATA_IN_U16[12]" IOSTANDARD = LVTTL;
NET "DATA_IN_U16[13]" IOSTANDARD = LVTTL;
NET "DATA_IN_U16[14]" IOSTANDARD = LVTTL;
NET "DATA_IN_U16[15]" IOSTANDARD = LVTTL;

#################################################### ADC - U17 H ####################################################

NET "CLKOUT_U17_p" LOC = L26;
NET "CLKOUT_U17_n" LOC = L25;
NET "CLKOUT_U17_p" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U17_n" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U17_p" IOSTANDARD = LVTTL;
NET "CLKOUT_U17_n" IOSTANDARD = LVTTL;

NET "DATA_IN_U17[0]"  LOC = J23;
NET "DATA_IN_U17[1]"  LOC = J24;
NET "DATA_IN_U17[2]"  LOC = J22;
NET "DATA_IN_U17[3]"  LOC = K21;
NET "DATA_IN_U17[4]"  LOC = K20;
NET "DATA_IN_U17[5]"  LOC = J25;
NET "DATA_IN_U17[6]"  LOC = J26;
NET "DATA_IN_U17[7]"  LOC = K26;
NET "DATA_IN_U17[8]"  LOC = M26;
NET "DATA_IN_U17[9]"  LOC = K22;
NET "DATA_IN_U17[10]" LOC = N25;
NET "DATA_IN_U17[11]" LOC = N26;
NET "DATA_IN_U17[12]" LOC = L20;
NET "DATA_IN_U17[13]" LOC = K24;
NET "DATA_IN_U17[14]" LOC = L21;
NET "DATA_IN_U17[15]" LOC = M24;

NET "DATA_IN_U17[0]" IOSTANDARD = LVTTL;
NET "DATA_IN_U17[1]" IOSTANDARD = LVTTL;
NET "DATA_IN_U17[2]" IOSTANDARD = LVTTL;
NET "DATA_IN_U17[3]" IOSTANDARD = LVTTL;
NET "DATA_IN_U17[4]" IOSTANDARD = LVTTL;
NET "DATA_IN_U17[5]" IOSTANDARD = LVTTL;
NET "DATA_IN_U17[6]" IOSTANDARD = LVTTL;
NET "DATA_IN_U17[7]" IOSTANDARD = LVTTL;
NET "DATA_IN_U17[8]" IOSTANDARD = LVTTL;
NET "DATA_IN_U17[9]" IOSTANDARD = LVTTL;
NET "DATA_IN_U17[10]" IOSTANDARD = LVTTL;
NET "DATA_IN_U17[11]" IOSTANDARD = LVTTL;
NET "DATA_IN_U17[12]" IOSTANDARD = LVTTL;
NET "DATA_IN_U17[13]" IOSTANDARD = LVTTL;
NET "DATA_IN_U17[14]" IOSTANDARD = LVTTL;
NET "DATA_IN_U17[15]" IOSTANDARD = LVTTL;

#################################################### ADC - U18 I ####################################################

NET "CLKOUT_U18_p" LOC = T26;
NET "CLKOUT_U18_n" LOC = R25;
NET "CLKOUT_U18_p" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U18_n" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U18_p" IOSTANDARD = LVTTL;
NET "CLKOUT_U18_n" IOSTANDARD = LVTTL;

NET "DATA_IN_U18[0]"  LOC = P24;
NET "DATA_IN_U18[1]"  LOC = P22;
NET "DATA_IN_U18[2]"  LOC = R24;
NET "DATA_IN_U18[3]"  LOC = R22;
NET "DATA_IN_U18[4]"  LOC = R21;
NET "DATA_IN_U18[5]"  LOC = P26;
NET "DATA_IN_U18[6]"  LOC = R26;
NET "DATA_IN_U18[7]"  LOC = R23;
NET "DATA_IN_U18[8]"  LOC = T24;
NET "DATA_IN_U18[9]"  LOC = U26;
NET "DATA_IN_U18[10]" LOC = U25;
NET "DATA_IN_U18[11]" LOC = T23;
NET "DATA_IN_U18[12]" LOC = T22;
NET "DATA_IN_U18[13]" LOC = U22;
NET "DATA_IN_U18[14]" LOC = U24;
NET "DATA_IN_U18[15]" LOC = U23;

NET "DATA_IN_U18[0]" IOSTANDARD = LVTTL;
NET "DATA_IN_U18[1]" IOSTANDARD = LVTTL;
NET "DATA_IN_U18[2]" IOSTANDARD = LVTTL;
NET "DATA_IN_U18[3]" IOSTANDARD = LVTTL;
NET "DATA_IN_U18[4]" IOSTANDARD = LVTTL;
NET "DATA_IN_U18[5]" IOSTANDARD = LVTTL;
NET "DATA_IN_U18[6]" IOSTANDARD = LVTTL;
NET "DATA_IN_U18[7]" IOSTANDARD = LVTTL;
NET "DATA_IN_U18[8]" IOSTANDARD = LVTTL;
NET "DATA_IN_U18[9]" IOSTANDARD = LVTTL;
NET "DATA_IN_U18[10]" IOSTANDARD = LVTTL;
NET "DATA_IN_U18[11]" IOSTANDARD = LVTTL;
NET "DATA_IN_U18[12]" IOSTANDARD = LVTTL;
NET "DATA_IN_U18[13]" IOSTANDARD = LVTTL;
NET "DATA_IN_U18[14]" IOSTANDARD = LVTTL;
NET "DATA_IN_U18[15]" IOSTANDARD = LVTTL;

#################################################### ADC - U19 J ####################################################

NET "CLKOUT_U19_p" LOC = Y26;
NET "CLKOUT_U19_n" LOC = W25;
NET "CLKOUT_U19_p" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U19_n" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U19_p" IOSTANDARD = LVTTL;
NET "CLKOUT_U19_n" IOSTANDARD = LVTTL;

NET "DATA_IN_U19[0]"  LOC = V24;
NET "DATA_IN_U19[1]"  LOC = V23;
NET "DATA_IN_U19[2]"  LOC = V22;
NET "DATA_IN_U19[3]"  LOC = U21;
NET "DATA_IN_U19[4]"  LOC = V20;
NET "DATA_IN_U19[5]"  LOC = V26;
NET "DATA_IN_U19[6]"  LOC = W26;
NET "DATA_IN_U19[7]"  LOC = W24;
NET "DATA_IN_U19[8]"  LOC = W22;
NET "DATA_IN_U19[9]"  LOC = Y24;
NET "DATA_IN_U19[10]" LOC = AA26;
NET "DATA_IN_U19[11]" LOC = AA25;
NET "DATA_IN_U19[12]" LOC = Y20;
NET "DATA_IN_U19[13]" LOC = W19;
NET "DATA_IN_U19[14]" LOC = Y21;
NET "DATA_IN_U19[15]" LOC = Y22;

NET "DATA_IN_U19[0]" IOSTANDARD = LVTTL;
NET "DATA_IN_U19[1]" IOSTANDARD = LVTTL;
NET "DATA_IN_U19[2]" IOSTANDARD = LVTTL;
NET "DATA_IN_U19[3]" IOSTANDARD = LVTTL;
NET "DATA_IN_U19[4]" IOSTANDARD = LVTTL;
NET "DATA_IN_U19[5]" IOSTANDARD = LVTTL;
NET "DATA_IN_U19[6]" IOSTANDARD = LVTTL;
NET "DATA_IN_U19[7]" IOSTANDARD = LVTTL;
NET "DATA_IN_U19[8]" IOSTANDARD = LVTTL;
NET "DATA_IN_U19[9]" IOSTANDARD = LVTTL;
NET "DATA_IN_U19[10]" IOSTANDARD = LVTTL;
NET "DATA_IN_U19[11]" IOSTANDARD = LVTTL;
NET "DATA_IN_U19[12]" IOSTANDARD = LVTTL;
NET "DATA_IN_U19[13]" IOSTANDARD = LVTTL;
NET "DATA_IN_U19[14]" IOSTANDARD = LVTTL;
NET "DATA_IN_U19[15]" IOSTANDARD = LVTTL;

#################################################### ADC - U20 K ####################################################

NET "CLKOUT_U20_p" LOC = AD26;
NET "CLKOUT_U20_n" LOC = AC25;
NET "CLKOUT_U20_p" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U20_n" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U20_p" IOSTANDARD = LVTTL;
NET "CLKOUT_U20_n" IOSTANDARD = LVTTL;

NET "DATA_IN_U20[0]"  LOC = AA24;
NET "DATA_IN_U20[1]"  LOC = AA23;
NET "DATA_IN_U20[2]"  LOC = AB24;
NET "DATA_IN_U20[3]"  LOC = AA22;
NET "DATA_IN_U20[4]"  LOC = AB22;
NET "DATA_IN_U20[5]"  LOC = AB26;
NET "DATA_IN_U20[6]"  LOC = AC26;
NET "DATA_IN_U20[7]"  LOC = AC24;
NET "DATA_IN_U20[8]"  LOC = AD24;
NET "DATA_IN_U20[9]"  LOC = AE26;
NET "DATA_IN_U20[10]" LOC = AE25;
NET "DATA_IN_U20[11]" LOC = AF25;
NET "DATA_IN_U20[12]" LOC = AC23;
NET "DATA_IN_U20[13]" LOC = AE24;
NET "DATA_IN_U20[14]" LOC = AF24;
NET "DATA_IN_U20[15]" LOC = AE23;

NET "DATA_IN_U20[0]" IOSTANDARD = LVTTL;
NET "DATA_IN_U20[1]" IOSTANDARD = LVTTL;
NET "DATA_IN_U20[2]" IOSTANDARD = LVTTL;
NET "DATA_IN_U20[3]" IOSTANDARD = LVTTL;
NET "DATA_IN_U20[4]" IOSTANDARD = LVTTL;
NET "DATA_IN_U20[5]" IOSTANDARD = LVTTL;
NET "DATA_IN_U20[6]" IOSTANDARD = LVTTL;
NET "DATA_IN_U20[7]" IOSTANDARD = LVTTL;
NET "DATA_IN_U20[8]" IOSTANDARD = LVTTL;
NET "DATA_IN_U20[9]" IOSTANDARD = LVTTL;
NET "DATA_IN_U20[10]" IOSTANDARD = LVTTL;
NET "DATA_IN_U20[11]" IOSTANDARD = LVTTL;
NET "DATA_IN_U20[12]" IOSTANDARD = LVTTL;
NET "DATA_IN_U20[13]" IOSTANDARD = LVTTL;
NET "DATA_IN_U20[14]" IOSTANDARD = LVTTL;
NET "DATA_IN_U20[15]" IOSTANDARD = LVTTL;

#################################################### ADC - U21 L ####################################################

NET "CLKOUT_U21_p" LOC = AE19;
NET "CLKOUT_U21_n" LOC = AF20;
NET "CLKOUT_U21_p" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U21_n" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U21_p" IOSTANDARD = LVTTL;
NET "CLKOUT_U21_n" IOSTANDARD = LVTTL;

NET "DATA_IN_U21[0]"  LOC = AD21;
NET "DATA_IN_U21[1]"  LOC = AC20;
NET "DATA_IN_U21[2]"  LOC = AA19;
NET "DATA_IN_U21[3]"  LOC = Y18;
NET "DATA_IN_U21[4]"  LOC = W17;
NET "DATA_IN_U21[5]"  LOC = AE21;
NET "DATA_IN_U21[6]"  LOC = AF21;
NET "DATA_IN_U21[7]"  LOC = AC19;
NET "DATA_IN_U21[8]"  LOC = AF19;
NET "DATA_IN_U21[9]"  LOC = AD19;
NET "DATA_IN_U21[10]" LOC = AF18;
NET "DATA_IN_U21[11]" LOC = AB18;
NET "DATA_IN_U21[12]" LOC = AA18;
NET "DATA_IN_U21[13]" LOC = AA17;
NET "DATA_IN_U21[14]" LOC = AD18;
NET "DATA_IN_U21[15]" LOC = AB17;

NET "DATA_IN_U21[0]" IOSTANDARD = LVTTL;
NET "DATA_IN_U21[1]" IOSTANDARD = LVTTL;
NET "DATA_IN_U21[2]" IOSTANDARD = LVTTL;
NET "DATA_IN_U21[3]" IOSTANDARD = LVTTL;
NET "DATA_IN_U21[4]" IOSTANDARD = LVTTL;
NET "DATA_IN_U21[5]" IOSTANDARD = LVTTL;
NET "DATA_IN_U21[6]" IOSTANDARD = LVTTL;
NET "DATA_IN_U21[7]" IOSTANDARD = LVTTL;
NET "DATA_IN_U21[8]" IOSTANDARD = LVTTL;
NET "DATA_IN_U21[9]" IOSTANDARD = LVTTL;
NET "DATA_IN_U21[10]" IOSTANDARD = LVTTL;
NET "DATA_IN_U21[11]" IOSTANDARD = LVTTL;
NET "DATA_IN_U21[12]" IOSTANDARD = LVTTL;
NET "DATA_IN_U21[13]" IOSTANDARD = LVTTL;
NET "DATA_IN_U21[14]" IOSTANDARD = LVTTL;
NET "DATA_IN_U21[15]" IOSTANDARD = LVTTL;

#################################################### ADC - U22 M ####################################################

NET "CLKOUT_U22_p" LOC = AE15;
NET "CLKOUT_U22_n" LOC = AF16;
NET "CLKOUT_U22_p" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U22_n" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U22_p" IOSTANDARD = LVTTL;
NET "CLKOUT_U22_n" IOSTANDARD = LVTTL;

NET "DATA_IN_U22[0]"  LOC = ;
NET "DATA_IN_U22[1]"  LOC = ;
NET "DATA_IN_U22[2]"  LOC = ;
NET "DATA_IN_U22[3]"  LOC = ;
NET "DATA_IN_U22[4]"  LOC = ;
NET "DATA_IN_U22[5]"  LOC = ;
NET "DATA_IN_U22[6]"  LOC = ;
NET "DATA_IN_U22[7]"  LOC = ;
NET "DATA_IN_U22[8]"  LOC = ;
NET "DATA_IN_U22[9]"  LOC = ;
NET "DATA_IN_U22[10]" LOC = ;
NET "DATA_IN_U22[11]" LOC = ;
NET "DATA_IN_U22[12]" LOC = ;
NET "DATA_IN_U22[13]" LOC = ;
NET "DATA_IN_U22[14]" LOC = ;
NET "DATA_IN_U22[15]" LOC = ;

NET "DATA_IN_U22[0]" IOSTANDARD = LVTTL;
NET "DATA_IN_U22[1]" IOSTANDARD = LVTTL;
NET "DATA_IN_U22[2]" IOSTANDARD = LVTTL;
NET "DATA_IN_U22[3]" IOSTANDARD = LVTTL;
NET "DATA_IN_U22[4]" IOSTANDARD = LVTTL;
NET "DATA_IN_U22[5]" IOSTANDARD = LVTTL;
NET "DATA_IN_U22[6]" IOSTANDARD = LVTTL;
NET "DATA_IN_U22[7]" IOSTANDARD = LVTTL;
NET "DATA_IN_U22[8]" IOSTANDARD = LVTTL;
NET "DATA_IN_U22[9]" IOSTANDARD = LVTTL;
NET "DATA_IN_U22[10]" IOSTANDARD = LVTTL;
NET "DATA_IN_U22[11]" IOSTANDARD = LVTTL;
NET "DATA_IN_U22[12]" IOSTANDARD = LVTTL;
NET "DATA_IN_U22[13]" IOSTANDARD = LVTTL;
NET "DATA_IN_U22[14]" IOSTANDARD = LVTTL;
NET "DATA_IN_U22[15]" IOSTANDARD = LVTTL;

#################################################### ADC - U23 N ####################################################

NET "CLKOUT_U23_p" LOC =  ;
NET "CLKOUT_U23_n" LOC =  ;
NET "CLKOUT_U23_p" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U23_n" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U23_p" IOSTANDARD = LVTTL;
NET "CLKOUT_U23_n" IOSTANDARD = LVTTL;

NET "DATA_IN_U23[0]"  LOC = AF14;
NET "DATA_IN_U23[1]"  LOC = AA14;
NET "DATA_IN_U23[2]"  LOC = Y14;
NET "DATA_IN_U23[3]"  LOC = W14;
NET "DATA_IN_U23[4]"  LOC = V14;
NET "DATA_IN_U23[5]"  LOC = AF13;
NET "DATA_IN_U23[6]"  LOC = AD13;
NET "DATA_IN_U23[7]"  LOC = AC13;
NET "DATA_IN_U23[8]"  LOC = AD12;
NET "DATA_IN_U23[9]"  LOC = AC12;
NET "DATA_IN_U23[10]" LOC = AB13;
NET "DATA_IN_U23[11]" LOC = AA13;
NET "DATA_IN_U23[12]" LOC = Y13;
NET "DATA_IN_U23[13]" LOC = W12;
NET "DATA_IN_U23[14]" LOC = V12;
NET "DATA_IN_U23[15]" LOC = AA12;

NET "DATA_IN_U23[0]" IOSTANDARD = LVTTL;
NET "DATA_IN_U23[1]" IOSTANDARD = LVTTL;
NET "DATA_IN_U23[2]" IOSTANDARD = LVTTL;
NET "DATA_IN_U23[3]" IOSTANDARD = LVTTL;
NET "DATA_IN_U23[4]" IOSTANDARD = LVTTL;
NET "DATA_IN_U23[5]" IOSTANDARD = LVTTL;
NET "DATA_IN_U23[6]" IOSTANDARD = LVTTL;
NET "DATA_IN_U23[7]" IOSTANDARD = LVTTL;
NET "DATA_IN_U23[8]" IOSTANDARD = LVTTL;
NET "DATA_IN_U23[9]" IOSTANDARD = LVTTL;
NET "DATA_IN_U23[10]" IOSTANDARD = LVTTL;
NET "DATA_IN_U23[11]" IOSTANDARD = LVTTL;
NET "DATA_IN_U23[12]" IOSTANDARD = LVTTL;
NET "DATA_IN_U23[13]" IOSTANDARD = LVTTL;
NET "DATA_IN_U23[14]" IOSTANDARD = LVTTL;
NET "DATA_IN_U23[15]" IOSTANDARD = LVTTL;

#################################################### ADC - U24 O ####################################################

NET "CLKOUT_U24_p" LOC =  ;
NET "CLKOUT_U24_n" LOC =  ;
NET "CLKOUT_U24_p" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U24_n" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U24_p" IOSTANDARD = LVTTL;
NET "CLKOUT_U24_n" IOSTANDARD = LVTTL;

NET "DATA_IN_U24[0]"  LOC = AD11;
NET "DATA_IN_U24[1]"  LOC = AC11;
NET "DATA_IN_U24[2]"  LOC = AB11;
NET "DATA_IN_U24[3]"  LOC = AA11;
NET "DATA_IN_U24[4]"  LOC = Y10;
NET "DATA_IN_U24[5]"  LOC = AF11;
NET "DATA_IN_U24[6]"  LOC = AE11;
NET "DATA_IN_U24[7]"  LOC = AD10;
NET "DATA_IN_U24[8]"  LOC = AE9;
NET "DATA_IN_U24[9]"  LOC = AF8;
NET "DATA_IN_U24[10]" LOC = AB10;
NET "DATA_IN_U24[11]" LOC = AD9;
NET "DATA_IN_U24[12]" LOC = AA9;
NET "DATA_IN_U24[13]" LOC = AB9;
NET "DATA_IN_U24[14]" LOC = AC9;
NET "DATA_IN_U24[15]" LOC = AD8;

NET "DATA_IN_U24[0]" IOSTANDARD = LVTTL;
NET "DATA_IN_U24[1]" IOSTANDARD = LVTTL;
NET "DATA_IN_U24[2]" IOSTANDARD = LVTTL;
NET "DATA_IN_U24[3]" IOSTANDARD = LVTTL;
NET "DATA_IN_U24[4]" IOSTANDARD = LVTTL;
NET "DATA_IN_U24[5]" IOSTANDARD = LVTTL;
NET "DATA_IN_U24[6]" IOSTANDARD = LVTTL;
NET "DATA_IN_U24[7]" IOSTANDARD = LVTTL;
NET "DATA_IN_U24[8]" IOSTANDARD = LVTTL;
NET "DATA_IN_U24[9]" IOSTANDARD = LVTTL;
NET "DATA_IN_U24[10]" IOSTANDARD = LVTTL;
NET "DATA_IN_U24[11]" IOSTANDARD = LVTTL;
NET "DATA_IN_U24[12]" IOSTANDARD = LVTTL;
NET "DATA_IN_U24[13]" IOSTANDARD = LVTTL;
NET "DATA_IN_U24[14]" IOSTANDARD = LVTTL;
NET "DATA_IN_U24[15]" IOSTANDARD = LVTTL;


#################################################### ADC - U25 P ####################################################

NET "CLKOUT_U25_p" LOC = AC2;
NET "CLKOUT_U25_n" LOC = AD1;
NET "CLKOUT_U25_p" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U25_n" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLKOUT_U25_p" IOSTANDARD = LVTTL;
NET "CLKOUT_U25_n" IOSTANDARD = LVTTL;

NET "DATA_IN_U25[0]"  LOC = AE3;
NET "DATA_IN_U25[1]"  LOC = AD4;
NET "DATA_IN_U25[2]"  LOC = AC4;
NET "DATA_IN_U25[3]"  LOC = AB4;
NET "DATA_IN_U25[4]"  LOC = AA4;
NET "DATA_IN_U25[5]"  LOC = AF2;
NET "DATA_IN_U25[6]"  LOC = AE2;
NET "DATA_IN_U25[7]"  LOC = AE1;
NET "DATA_IN_U25[8]"  LOC = AC1;
NET "DATA_IN_U25[9]"  LOC = AB1;
NET "DATA_IN_U25[10]" LOC = AD3;
NET "DATA_IN_U25[11]" LOC = AC3;
NET "DATA_IN_U25[12]" LOC = AB3;
NET "DATA_IN_U25[13]" LOC = AA3;
NET "DATA_IN_U25[14]" LOC = AA2;
NET "DATA_IN_U25[15]" LOC = AA1;

NET "DATA_IN_U25[0]" IOSTANDARD = LVTTL;
NET "DATA_IN_U25[1]" IOSTANDARD = LVTTL;
NET "DATA_IN_U25[2]" IOSTANDARD = LVTTL;
NET "DATA_IN_U25[3]" IOSTANDARD = LVTTL;
NET "DATA_IN_U25[4]" IOSTANDARD = LVTTL;
NET "DATA_IN_U25[5]" IOSTANDARD = LVTTL;
NET "DATA_IN_U25[6]" IOSTANDARD = LVTTL;
NET "DATA_IN_U25[7]" IOSTANDARD = LVTTL;
NET "DATA_IN_U25[8]" IOSTANDARD = LVTTL;
NET "DATA_IN_U25[9]" IOSTANDARD = LVTTL;
NET "DATA_IN_U25[10]" IOSTANDARD = LVTTL;
NET "DATA_IN_U25[11]" IOSTANDARD = LVTTL;
NET "DATA_IN_U25[12]" IOSTANDARD = LVTTL;
NET "DATA_IN_U25[13]" IOSTANDARD = LVTTL;
NET "DATA_IN_U25[14]" IOSTANDARD = LVTTL;
NET "DATA_IN_U25[15]" IOSTANDARD = LVTTL;